
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; /* Aligns children vertically center */
    justify-content:center; /* Aligns children horizontally center */
    background: rgb(1, 84, 53);
    margin: 0; /* Ensures there is no default margin interfering with full centering */
    height: 80dvh; /* Full viewport height */  
}

#canvas {
    border: 3px solid white;
    width: 800px;
    height: 700px;
}

/* to be styled later */

button {
    color: red;
    font-size: 18px;
    background-color: rgb(19, 231, 132);
    border-color: black;
}
#scoreButton {
    color: red;
    font-size: 18px;
    background-color: rgb(19, 231, 132);
    border-color: black;
}

#highestButton{
    color: red;
    font-size: 18px;
    background-color: rgb(19, 231, 132);
    border-color: black;
}