body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* Aligns children vertically center */
    justify-content: center;
    /* Aligns children horizontally center */
    background: rgb(1, 84, 53);
    margin: 0;
    /* Ensures there is no default margin interfering with full centering */
    height: 100dvh;
    /* Full viewport height */
    background-image: url(/Assets/CityForrest.png);
    background-size: 72%;
    background-blend-mode: luminosity;
}

#canvas {
    display: flex;
    border: black 3px solid rgb(0, 0, 0);
    width: 800px;
    height: 700px;
}

/* to be styled later */

/* CSS */
button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: yellow;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    button {
        padding: 10px 30px;
    }
}

#scoreButton {
    color: black;
    font-size: 18px;
    background-color: rgb(19, 231, 132);
    border-color: black;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    text-align: center;
    border: 1px solid #13aa52;
}

#highestButton {
    color: black;
    font-size: 18px;
    background-color: rgb(19, 231, 132);
    border-color: black;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    text-align: center;
    border: 1px solid #13aa52;
}

#youHaveDied {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: rgb(0, 0, 0)order-box;
    color: yellow;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

